<%- include("partials/header.ejs") %>

<div class="viewTitleContainer">

        <% const listLength = locals.blogList.length %>
        <% if (listLength > 0) { %>
                <h4>Current Titles:</h4>
                <ul class="cardUl">
                        <% blogList.map((item) => { %>
                                <li class="listCard">
                                        <div class="card-body">
                                                <h5 class="card-title"><span><%= item.id %>&nbsp;</span> <%= item.title %> </h5>
                                                <small> posted at <%= item.time %> </small><br>
                                               
                                                <button class="btn btn-info readButton"><a href="/reading_blog/<%= item.id %>" >Read blog</a></button>
                                                <button class="btn btn-primary"><a href="/update_blog/<%= item.id %>">update</a></button>
                                                <form method="post" action="/delete_blog/<%= item.id %>" >
                                                        <input type="submit" class="btn btn-danger" value="delete">
                                                </form>
                        
                                        </div>
                                </li>
                        <% }) %>   
                </ul>            
        <% } else { %>
                <h4>Blog is still empty. We would like to hear your blog.</h4>
        <% } %>    
</div>

<%- include("partials/footer.ejs") %>