<%- include("partials/header.ejs") %>

<div class="viewBlogContainer">
        <% const listLength = locals.blogList.length %>
        <% if (listLength > 0) { %>
                <h3>Current Blogs:</h3>
                <ul class="cardUl">
                        <% blogList.map((item, index) => { %>
                                <li key= <%= index %> class="listCard"> 
                                        <div class="card-body">
                                                <h5 class="card-title"><span><%= index + 1 %>.&nbsp;</span> <%= item.title %> </h5>
                                                <p class="card-text"> <%= item.blog %> </p>
                                                <button class="btn btn-info readButton">Read blog</button>
                                                <button class="btn btn-primary">Update</button>
                                                <button class="btn btn-danger">Delete</button>
                                        </div>
                                </li>
                        <% }) %>   
                </ul>            
        <% } else { %>
                <h3>Blog is still empty. Write your blog now.</h3>
        <% } %>    
</div>

<%- include("partials/footer.ejs") %>