<%- include("partials/header.ejs") %>

        <div class="bodyContainer" id="writeBlog">
                <h3>Type your blog</h3>
                <form action="/write_blog" method="POST">
                        <div>
                                <label for="title">Title:</label></br>
                                <input type="text" name="title" class="form-control" value="<%= locals.blogData? blogData.title:"" %>"/>
                        </div>
                        <div>
                                <label for="title">Blog:</label></br>
                                <textarea name="blog" rows="8" class="form-control"><%= locals.blogData? blogData.blog:"" %></textarea>
                        </div>  
                        <div>
                                <input hidden value="<%= locals.index? index:"" %>" name="index">
                                <input type="submit" value="<%= submit %>" name="type"/>
                        </div>
                </form>
        </div>

<%- include("partials/footer.ejs") %>